.loader {
  width: 100px;
  height: 100px;
  display: block;
  margin: 140px auto;
  border-radius: 50%;
  background-color: rgb(255, 168, 168);
  animation-name: shape;
  animation-duration: 1.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shape {
  0% {
    transform:scale(1.0);
  }
  50% {
    transform:scale(1.3);
  }
  100% {
    transform:scale(1.0);
  } 
}
